{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
    <h1>News</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3>
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->

    <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Search" />
    </form>

    <hr>
    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.news.add_post %}
    <a href="{% url 'post_create' %}">Add post</a>
    {% endif %}

    {% if news %}
        <table>
            <tr>
               <td>Title</td>
               <td>Date</td>
               <td>Details</td>

                {# Условие получается составным. #}
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Actions</td>
                {% endif %}

            </tr>

            {% for news in news %}
            <tr>
               <td>{{ news.title_post }}</td>
               <td>{{ news.datetime_post_creation|date:'d M Y'}}</td>
               <td>{{ news.text_post|truncatewords:20 }}</td>
<!--               <td>{{ news|length}}</td>-->
                <td>
                    {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                    {% if perms.news.change_post %}
                    <a href="{% url 'post_edit' pk=news.id %}">Change</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' news.id %}">Delete</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}

       </table>
   {% else %}
       <h2>No news</h2>
   {% endif %}
{# Добавляем пагинацию на страницу #}
    {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}





